body {
  background-color: black;
  color: white;
  font-family: 'Orbitron', sans-serif;
}

div{
  text-align: center;
}

#conteiner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#current-time {
  font-size: 120px;
  margin-bottom: 30px;
}

#bitcoin-value {
  font-size: 80px;
  margin-top: 30px;
}

.btc {}

.value {}